.button
{
    color:black;
    border:none;
    margin-top: 32px;
    font-size: 15px;
    padding:15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    outline: none;
    background-color: rgba(240, 128, 128, 0.596);
    width:10;
    height: 10;
}
.button:hover
{
    background-color:pink;
    color:black;

}
